/* ! Global Settings */

:root {
    --cream: hsla(66, 68%, 89%, 1);
    --xanthous: rgba(255, 188, 66, 1);
    --raspberry: rgba(216, 17, 89, 1);
    --light-green: rgba(129, 233, 121, 1);
    --fern-green: hsla(87, 27%, 37%, 1);
    --english-violet: hsla(308, 22%, 26%, 0.8);
    --plum-web: rgba(232, 153, 220, 1);
    --desert-sand: hsla(27, 56%, 76%, 1);

    --dim-gray: hsla(268, 7%, 45%, 1);
    --ice-blue: rgba(157, 247, 229, 1);
    --working-blue: rgb(95, 155, 186, 0.7);
    --dark-blue: rgb(9, 89, 129);

    --clr-red: var(--raspberry);
    --clr-green: var(--light-green);
    --clr-amber: var(--xanthous);

    --clr-background: var(--working-blue);
    --clr-border: var(--desert-sand);
    --clr-darklight: var(--english-violet);
    --clr-text: var(--cream);
    --clr-text-op: var(--light-green);
    --clr-lowlight: var(--english-violet);
    --clr-highlight: var(--plum-web);
    --clr-darkest: #000;
    --clr-darker: var(--dim-gray);
    --clr-dark: var(--fern-green);


    --fnt-titles: 'Merienda', cursive;
    --fnt-text: 'Dancing Script', cursive;
    --fnt-hightlight1: 'Amatic SC', cursive;
    --fnt-hightlight2: 'Jost', sa--fnt-hightlight;

    font-size: 28px;
    height: 100%;
    --offset: 80%;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--clr-darker);
    color: var(--clr-text);
}


/* ! Page Parts */

body {
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    color: var(--clr-highlight);
    background-color: var(--clr-dark);

}

h1 {
    font-family: var(--fnt-titles);
    color: var(--plum-web);
    font-size: 2.5rem;
    background-color: inherit;
    margin: auto;
    justify-content: center;
}

h2 {
    font-family: var(--fnt-titles);
    color: var(--plum-web);
    font-size: 2rem;
    background-color: inherit;
    margin: auto;
    margin-bottom: 1.5rem;
}

h4 {
    font-size: 0.5rem;
    color: inherit;
    background-color: inherit;
    vertical-align: baseline;
}

footer {
    position: sticky;
    top: 95%
}

main {
    border: 3px solid var(--clr-darkest);
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    gap: 1rem;
    margin-inline: auto;
    padding: 1rem;
    width: min(60rem, 100%);
}



/* ! Classes */


/* ?Class Structure Plan */

/* ? header > container & sidebar*/
/* ? container>calendar */
/* ? sidebar > booking form & bookings */


.sidebar {
    flex: 1 1 20rem;
    position: sticky;
    right: var(--offset);
    border: 3px solid var(--clr-darkest);
    gap: 5rem;
    height: 100%;
}

.calendar {
    max-height: 50%;
    overflow-y: auto;
    border: 3px solid var(--clr-dark);

}

.information {
    max-height: 50%;
    overflow-y: auto;
    border: 3px solid var(--clr-dark);
}

.content {
    flex: 99999 1 15rem;
    /* font-size: clamp(0.7rem, 1.2rem, 2rem);  */
}

h3 {
    background-color: antiquewhite;
}

h3 .closed {
    background-color: var(--clr-lowlight);
}

h3 .today {
    background-color: yellow;
}

.btn-action-yfk {

    border: 3px solid var(--clr-darker);
    background-color: var(--clr-green);
    font-family: var(--fnt-hightlight1);
    border-radius: 3rem;
    padding: .8rem 2rem;
    text-decoration: none;
    margin: .5rem .5rem .2rem .2rem;
    box-shadow: inset 0 1px 0 var(--clr-highlight), 0 1px 1px var(--clr-lowlight);
}

.btn-action-yfk:hover {
    opacity: 0.8;
    font-size: 1.2rem;
    color: var(--clr-darkest);
    background-color: var(--clr-amber);
    border-bottom: 4px solid var(--clr-border);
    transition: var(--clr-amber) .15s ease-in-out, var(--clr-lowlight) .15s ease-in-out, var(--clr-highlight) .15s ease-in-out, box-shadow .15s ease-in-out;

}


.table {
    /* --bs-table-color-type: initial;
    --bs-table-bg-type: initial;
    --bs-table-color-state: initial;
    --bs-table-bg-state: initial;
    --bs-table-color: var(--bs-emphasis-color);
    --bs-table-bg: var(--bs-body-bg);
    --bs-table-border-color: var(--bs-border-color);
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: var(--bs-emphasis-color);
    --bs-table-striped-bg: rgba(var(--bs-emphasis-color-rgb), 0.05);
    --bs-table-active-color: var(--bs-emphasis-color);
    --bs-table-active-bg: rgba(var(--bs-emphasis-color-rgb), 0.1);
    --bs-table-hover-color: var(--bs-emphasis-color);
    --bs-table-hover-bg: rgba(var(--bs-emphasis-color-rgb), 0.075); */
    width: 100%;
    margin-bottom: 1rem;
    vertical-align: top;
    border-color: var(--bs-table-border-color)
}



@media only screen and (max-width: 760px),
(min-device-width:802px) and (max-device-width: 1020px) {

    /* Force table to not be like table anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    table {
        display: table !important;
        caption-side: bottom;
        border-collapse: collapse;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;

        --yfk-table-color: #fff;
        --yfk-table-bg: #212529;
        --yfk-table-border-color: #4d5154;
        --yfk-table-striped-bg: #2c3034;
        --yfk-table-striped-color: #fff;
        --yfk-table-active-bg: #373b3e;
        --yfk-table-active-color: #fff;
        --yfk-table-hover-bg: #323539;
        --yfk-table-hover-color: #fff;
        color: var(--yfk-table-color);
        border-color: var(--yfk-table-border-color)
    }

    .empty {
        display: none;
    }

    /* Hide table headers (but not dispaly none for accessibility) */
    th {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 1px solid var(--clr-border);
    }

    td {
        /* Behave like a row */
        border: none;
        border-bottom: 1px solid var(--clr-border);
        position: relative;
        padding-left: 50%;
    }

    /* Label the data */
    td:nth-of-type(1):before {
        content: "Sunday";
    }

    td:nth-of-type(2):before {
        content: "Monday";
    }

    td:nth-of-type(3):before {
        content: "Tueday";
    }

    td:nth-of-type(4):before {
        content: "Wednesday";
    }

    td:nth-of-type(5):before {
        content: "Thusday";
    }

    td:nth-of-type(6):before {
        content: "Friday";
    }

    td:nth-of-type(7):before {
        content: "Satday";
    }
}

/* Smartphones (portrait and landscape) */
@media only screen and (min-device-width:320px) and (max-device-width: 480px) {
    body {
        padding: 0;
        margin: 0;
    }
}

/* ipads (portrait and landscape) */


@media (min-width:641px) {
    table {
        table-layout: fixed;
    }

    td {
        width: 33%;
    }
}

.row {
    margin-top: 20px;
}

.today {
    background-color: yellow;
}